{% extends "vista/base.html" %}
{% block main %}
<form class="formularioBusqueda" action="../modelo/POST/postBusqueda.php" method="post">

  <fieldset>
    <legend>Ordenar por:</legend>
      <input type="radio" name="ordenarBusqueda" value="fecha">
      <label for="fecha">Fecha (primero las mas recientes)</label>

      <input type="radio" name="ordenarBusqueda" value="positivos">
      <label for="positivos">Numero de positivos (de mas a menos)</label>

      <input type="radio" name="ordenarBusqueda" value="netos">
      <label for="netos">Numero de positivos netos (de mas a menos)</label>
  </fieldset>

  <fieldset>
    <legend>Incidencias que contengan:</legend>
      <label for="texto">Texto de busqueda:</label>
      <input type="text" name="textoBusqueda">

      <input type="radio" name="lugarBusqueda" value="lugarTitulo">
      <label for="lugarTitulo">Título</label>

      <input type="radio" name="lugarBusqueda" value="lugarDescripcion">
      <label for="lugarDescripcion">Descripción</label>

      <input type="radio" name="lugarBusqueda" value="lugarClave">
      <label for="lugarClave">Palabras Clave</label>
  </fieldset>

  <fieldset>
    <legend>Lugar de la incidencia:</legend>
    <?php
    require_once "../core/BaseDeDatos.php";
    $lugares=(new BaseDeDatos()).getAllLugares()
    ?>
    <select class="desplegable-lugares">
      {% for lugar in lugares %}
      <option value="{{lugar.lugar}}">{{lugar.lugar}}</option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset>
    <legend>Estado: </legend>
      <label><input type="checkbox" name="estadoBusqueda" value="Pendiente"/> Pendiente</label>
      <label><input type="checkbox" name="estadoBusqueda" value="Comprobada"/> Comprobada</label>
      <label><input type="checkbox" name="estadoBusqueda" value="Tramitada"/> Tramitada</label>
      <label><input type="checkbox" name="estadoBusqueda" value="Irresoluble"/> Irresoluble</label>
      <label><input type="checkbox" name="estadoBusqueda" value="Resuelta"/> Resuelta</label>
  </fieldset>

  <input type="submit" value="Aplicar criterios de busqueda"/>
</form>

<div class="incidencia">
  <section>
    <h1> Titulo de la incidencia</h1>

    <span>Lugar: {{incidencia.lugar}}</span>
    <span>Fecha: {{incidencia.fecha}}</span>
    <span>Creado por: {{incidencia.autor}}</span>
    <span>Palabras Clave: </span>
    <span>Estado: </span>
    <span>Valoraciones: </span>

    <p>{{incidencia.descripcion}}</p>
  </section>
</div>
{% endblock %}
